body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

.logo {
    font-size: 24px;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
}

.username {
    margin-left: 20px;
    font-size: 20px;
}

.edit-profile {
    margin-left: auto;
    padding: 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.listed-products,
.purchased-products {
    width: 45%;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-image {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    text-align: center;
    line-height: 50px;
}

.product-name {
    margin-left: 20px;
}
